Collect/
PLSDB/
Hosts/
Archaea/
Archaea_Hosts/
CRISPRs/
Cas/
CRISPRCas/
Spacers/
Genes/
PLSDB_spacers/
Hosts_spacers/
Archaea_spacers/
Archaea_Hosts_spacers/
__pycache__/
R/Figures
R/Tables
repeat_model/
R/Distance.RData
